# Virual enviroment folder 
venv/

# Visual studio code folder 
.vscode/ 

# Caches
__pycache__ 

# All log files in root folder 
*.log

# Ignore data folders
scraped_data/

# Residual database files
mongodb/