# Virual enviroment folder 
venv/
venv-linux/

# Visual studio code folder 
.vscode/ 

# Pycharm files
.idea/

# Caches
__pycache__ 

# All log files in root folder 
*.log

# Ignore data folders
scraped_data/

# Residual database files
mongodb/

# Notebook checkpoints
*-checkpoint.ipynb

# helping programs
cancer/